@font-face {
    font-family: 'dense';
    src: url(dense/Dense-Regular.otf);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'dense';
    box-sizing: border-box;
}


.home{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.logo{
    color: #EFFFFB;
    font-size: 6.5vw;
    letter-spacing: 1px;
    cursor: pointer;
    padding-top: 2vw;
    padding-left: 2vw;
    position: absolute;
   text-decoration: none;
}

.logo span{
    color: #50D890;
}

.logo:hover{
    color: #50D890;
    width: 50px;
    height: 50px;
}

.logo span:hover{
    color: #EFFFFB;
    width: 50px;
    height: 50px;
}

body{
    background: #272727;
}

h2{
    padding-top: 10%;
    font-size: 5em;
    color: #EFFFFB;
    letter-spacing: 2px;
    text-align: center;
}

img{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 4%;
    width: 300px;
    border-radius: 30px;
    border: #50D890 solid 3px;
    filter: saturate(40%);
    transition: 0.5s;
}

ul{
    display: inline;
}

img:hover{
    filter: saturate(100%);
    border: #50D890 solid 9px;
}