@font-face {
    font-family: 'dense';
    src: url(dense/Dense-Regular.otf);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'dense';
    box-sizing: border-box;
}


.home{
    height: 100vh;
    width: 100%;
    background-color: #272727 ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    color: #EFFFFB;
    font-size: 6.5vw;
    letter-spacing: 1px;
    cursor: pointer;
    padding-top: 2vw;
    padding-left: 2vw;
    position: absolute;
   text-decoration: none;
}

.logo span{
    color: #50D890;
}

.logo:hover{
    color: #50D890;
    width: 50px;
    height: 50px;
}

.logo span:hover{
    color: #EFFFFB;
    width: 50px;
    height: 50px;
}

body{
    background: #272727;
}

h2{
    padding-top: 10%;
    font-size: 5em;
    color: #EFFFFB;
    letter-spacing: 2px;
    text-align: center;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    padding:20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card:hover{
    width: 600px;
    transition-delay: 0s;
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover .circle::before{
    clip-path: circle(400px at center);
}

.card .circle .icon{
    position: relative;
    width: 150px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card:hover .circle .icon{
    transform: scale(0);
    transition-delay: 0s;
}

.isi{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.card:hover .isi{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.isi h3{
    color: #EFFFFB;
    text-transform: uppercase;
    font-size: 3.5em;
    line-height: 1em;
}

.isi p{
    color: #EFFFFB;
    font-size: 2.5em;
}

.card .icong{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 300px;
    transition: 0.5s;
    transition-delay: 0s;
}

.card:hover .icong{
    left: 72%;
    transform: translate(-50%, -50%) scale(1);
    transition-delay: 0.5s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #EFFFFB;
    border-radius: 10px;
}

@media (max-width: 991px){
    .card{
        width: auto;
        max-width: 350px;
        align-items: flex-start;
    }
    .card:hover{
        height: 600px;
    }
    .card:hover .icong{
        top: initial;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, -0%) scale(1);
        height: 300px;
    }
    .card .isi{
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
