
.shake {
    animation: shake 1s;
  }

  #alert-img {
    animation: zoomIn 0.5s ease-in-out;
    transform: scale(1.5);
  }

#walk {
    position: absolute;
    height: 284px;
    width: 330px;
    background: url("../assets/hero/test1.png");
    animation-name: walk;
    animation-duration: 0.3s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    transform: scale(0.5);
    bottom: -1%;
    left: -5%;
}

#move {
    position: absolute;
    height: 284px;
    width: 330px;
    background: url("../assets/hero/test1.png");
    animation-name: walk, move;
    animation-duration: 0.3s, 2s;
    animation-timing-function: steps(3), linear;
    animation-iteration-count: infinite, 1;
    transform: scale(0.5);
    bottom: -1%;
    left: -5%;
}

#attack {
    position: absolute;
    height: 307px;
    width: 450px;
    background: url("../assets/hero/test10.png");
    animation-name: attack;
    animation-duration: 0.3s;
    animation-timing-function: steps(2);
    animation-iteration-count: 1;
    transform: scale(0.5);
    bottom: -3%;
    left: 55%;
}

#damagedHero {
    position: absolute;
    height: 307px;
    width: 297px;
    background: url("../assets/hero/test11.png");
    transform: scale(0.5);
    bottom: -3%;
    left: -5%;
}

#heroOver {
    position: absolute;
    height: 297px;
    width: 297px;
    background: url("../assets/hero/test12.png");
    transform: scale(0.5);
    bottom: -6%;
    left: -5%;
}

#divide {
    position: absolute;
    height: 283px;
    width: 414px;
    background: url("../assets/enemy/divide/divide-idle.png");
    animation-name: d-idle;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
    transform: scale(0.5);
    bottom: -0.5%;
    right: -5%;
}

#d-walk {
    position: absolute;
    height: 283px;
    width: 414px;
    background: url("../assets/enemy/divide/divide-walk.png");
    animation-name: d-walk, d-move;
    animation-duration: 0.3s, 2s;
    animation-timing-function: steps(2), linear;
    animation-iteration-count: infinite, 1;
    transform: scale(0.5);
    bottom: -0.5%;
    right: -5%;
    z-index: 99;
}

#d-attack {
    position: absolute;
    height: 267px;
    width: 429px;
    background: url("../assets/enemy/divide/divide-attack.png");
    animation-name: d-attack;
    animation-duration: 0.3s;
    animation-timing-function: steps(2);
    animation-iteration-count: 1;
    transform: scale(0.5);
    bottom: -0.5%;
    right: 55%;
    z-index: 99;
}

#damagedDivide {
    position: absolute;
    height: 265px;
    width: 428px;
    background: url("../assets/enemy/divide/divide-damage.png");
    transform: scale(0.5);
    bottom: -0.5%;
    right: -5%;
    
}

#minus{
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/minus/minus-idle.png");
  animation-name: m-idle;
  animation-duration: 1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  transform: scale(0.5);
  top: -21%;
  right: -12%;
}

#m-walk{
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/minus/minus-walk.png");
  animation-name: m-walk, m-move;
  animation-duration: 1s, 2s;
  animation-timing-function: steps(2), linear;
  animation-iteration-count: infinite, 1;
  transform: scale(0.5);
  top: -21%;
  right: -12%;
  z-index: 99;
}

#m-attack{
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/minus/minus-attack.png");
  animation-name: m-attack;
  animation-duration: 0.3s;
  animation-timing-function: steps(2);
  animation-iteration-count: 1;
  transform: scale(0.5);
  top: -20.5%;
  right: 52%;
  z-index: 99;
}

#m-damage {
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/minus/minus-damage.png");
  transform: scale(0.5);
  top: -21%;
  right: -12%;
}

#cross {
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/cross/cross-idle.png");
  animation-name: c-idle;
  animation-duration: 0.5s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  transform: scale(0.3);
  top: -25%;
  right: -12%;
  
}

#c-walk {
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/cross/cross-walk.png");
  animation-name: c-walk, c-move;
  animation-duration: 0.5s, 2s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite, 1;
  transform: scale(0.3);
  top: -25%;
  right: -12%;
  z-index: 99;
}



#c-attack {
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/cross/cross-attack.png");
  animation-name: c-attack;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: 1;
  transform: scale(0.3);
  top: -25%;
  right: 52%;
  z-index: 99;
}

#c-damage {
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/cross/cross-damage.png");
  transform: scale(0.3);
  top: -25%;
  right: -12%;
}

#plus{
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/plus/plus-idle.png");
  animation-name: p-idle;
  animation-duration: 0.8s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  transform: scale(0.3);
  top: -16.5%;
  right: -13%;
}

#p-walk{
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/plus/plus-walk.png");
  animation-name: p-walk, p-move;
  animation-duration: 1s, 2s;
  animation-timing-function: steps(2), linear;
  animation-iteration-count:infinite, 1 ;
  transform: scale(0.3);
   top: -16.5%;
  right: -13%;
  z-index: 99;
}
  
#p-attack{
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/plus/plus-attack.png");
  animation-name: p-attack;
  animation-duration: 0.3s;
  animation-timing-function: steps(1);
  animation-iteration-count: 1;
  transform: scale(0.3);
  top: -19.5%;
  right: 52%;
  z-index: 99;
}

#p-damage {
  position: absolute;
  height: 500px;
  width: 500px;
  background: url("../assets/enemy/plus/plus-damage.png");
  transform: scale(0.3);
   top: -16.5%;
  right: -13%;
}


@keyframes walk {
    from { background-position: 0px; }
    to { background-position: -961px; }
  }
  
  @keyframes attack {
    from { background-position: 0px; }
    to { background-position: -893px; }
  }
  
  @keyframes move {
    from { left: -5%; }
    to { left: 55%; }
  }
  
  @keyframes d-idle {
    from { background-position: 0px; }
    to { background-position: -828px; }
  }
  
  @keyframes d-walk {
    from { background-position: 0px; }
    to { background-position: -828px; }
  }
  
  @keyframes d-move {
    from { right: -5%; }
    to { right: 55%; }
  }
  
  @keyframes d-attack {
    from { background-position: 0px; }
    to { background-position: -858px; }
  }

  @keyframes p-idle {
    from { background-position: 0px; }
    to { background-position: -1500px; }
  }

  @keyframes p-walk {
    from { background-position: 0px; }
    to { background-position: -1000px; }
  }
  
  @keyframes p-move {
    from { right: -12%; }
    to { right: 42%; }
  }

  @keyframes m-idle {
    from { background-position: 0px; }
    to { background-position: -1500px; }
  }

  @keyframes m-walk {
    from { background-position: 0px; }
    to { background-position: -1000px; }
  }
  
  @keyframes m-move {
    from { right: -12%; }
    to { right: 42%; }
  }
  
  @keyframes m-attack {
    from { background-position: 0px; }
    to { background-position: -1000px; }
  }

  @keyframes c-idle {
    from { background-position: 0px; }
    to { background-position: -1500px; }
  }
  
  @keyframes c-walk {
    from { background-position: 0px; }
    to { background-position: -1500px; }
  }
  
  @keyframes c-move {
    from { right: -12%; }
    to { right: 72%; }
  }
  
  @keyframes c-attack {
    from { background-position: 0px; }
    to { background-position: -1000px; }
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  @keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1.5);
    }
  }
  
